doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Contact List App
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css")
        link(rel="stylesheet", href="/stylesheets/style.css")
    body
        header
            nav.navbar.navbar-expand-lg.navbar-light.bg-light
                div#navbarNav.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto
                        if user
                            li.nav-item
                                a.nav-link.nav-box(href='/') Contact List
                            li.nav-item
                                a.nav-link.nav-box(href='/create') Create Contact
                            li.nav-item
                                a.nav-link.nav-box(href='/logout') Logout
                        else
                            li.nav-item
                                a.nav-link.nav-box(href='/') Contact List
                            li.nav-item
                                a.nav-link.nav-box(href='/create') Create Contact
                            li.nav-item
                                a.nav-link.nav-box(href='/login') Login
                            li.nav-item
                                a.nav-link.nav-box(href='/signup') Signup

        main.container
            block content

        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js", crossorigin="anonymous")

        block scripts
